venv/
__pycache__/
*.pyc
metrics.txt
conf_matrix.png
venv/

# DVC cache
/.dvc/cache/

# Données
data/
models/
plots/
metrics/

# Python
__pycache__/
*.pyc
.dvc/config.local
.dvc/gdrive-creds.json
gdrive_user_credentials.json

